{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@helpers": "./helpers.js"
        }
      }
    ]
  ],
  "presets": ["module:react-native-dotenv"]
}
